extends ./layout/index
block contenido
  main.container.mt-5
    .row 
      .col-md-5 
        img(src="img/nosotros.jpg", alt="Imagen Nosotros", class="img-fluid")

      .col-md-7
        h1 #{pagina}

        blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi gravida dignissim risus vitae pulvinar. Nunc risus arcu, accumsan at felis aliquam, sollicitudin tempor purus. Proin eget egestas neque. Duis imperdiet erat in mattis tincidunt. Pellentesque tincidunt, velit nec scelerisque eleifend, nibh diam varius nisi, ac bibendum leo ligula a nisi. Sed odio libero, dapibus sit amet sodales nec, rutrum at justo. Suspendisse eleifend sapien eu tellus congue hendrerit. Nam quis lorem a neque imperdiet feugiat.

        p Mauris eget condimentum nibh, eget sollicitudin ante. Nunc vel nisi mattis, sagittis nulla nec, ultricies diam. Sed volutpat, orci nec aliquam suscipit, ex diam eleifend ligula, in vulputate tellus nisl eget odio. Praesent in rhoncus quam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam ultrices lacinia sapien sed porttitor. Sed non enim ante. In nec neque id ligula pharetra fringilla. Duis in lorem lacinia, tempor tortor bibendum, volutpat ipsum. Praesent ornare tellus tellus, condimentum bibendum augue elementum sed. Vestibulum massa turpis, lacinia a feugiat vitae, facilisis id mauris.

        p Nam vitae dolor enim. Vivamus sit amet pulvinar nibh. Etiam ut orci non diam consectetur hendrerit in sed libero. Nullam luctus ac turpis eget tincidunt. Ut in orci nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed aliquet tincidunt nisi at gravida. Praesent ac dapibus quam, at mattis orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In euismod, mi sit amet imperdiet mollis, massa ante vestibulum diam, porttitor accumsan nulla augue at eros. Cras tincidunt lobortis urna, ac fringilla lacus facilisis at. Duis fermentum justo at leo luctus faucibus. Fusce egestas lobortis dolor ut interdum. Sed lacinia sit amet nulla at scelerisque.


  .listado-iconos 
    .container.mt-5.py-5   
      .row 
        .col-md-4
          img(src="img/icono_seguridad.svg", alt="Icono Seguridad" class="img-fluid mb-4")    
          h2.mb-4 Seguridad
          p  am vitae dolor enim. Vivamus sit amet pulvinar nibh. Etiam ut orci non diam consectetur hendrerit in sed libero. Nullam luctus ac turpis eget tincidunt. Ut in orci nisi. Orci varius natoque penatibus et magnis dis
        .col-md-4
          img(src="img/icono_destinos.svg", alt="Icono Destinos" class="img-fluid mb-4")    
          h2.mb-4 Seguridad
          p  am vitae dolor enim. Vivamus sit amet pulvinar nibh. Etiam ut orci non diam consectetur hendrerit in sed libero. Nullam luctus ac turpis eget tincidunt. Ut in orci nisi. Orci varius natoque penatibus et magnis dis
        .col-md-4
          img(src="img/icono_precios.svg", alt="Icono Precio" class="img-fluid mb-4")    
          h2.mb-4 Seguridad
          p  am vitae dolor enim. Vivamus sit amet pulvinar nibh. Etiam ut orci non diam consectetur hendrerit in sed libero. Nullam luctus ac turpis eget tincidunt. Ut in orci nisi. Orci varius natoque penatibus et magnis dis